html,
body {
    padding: 0px;
    margin: 0px;
    font-family: "Gudea", "Helvetica Neue", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

#wrapctr {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background: #FFF;
    margin: 0 auto;
    min-height: 1000px;
    position: relative;
    z-index: 2;
}

#leftmenu {
    background: #101823;
    width: 4%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    list-style: none;
}

#content {
    background: #F6FAFB;
    position: absolute;
    height: 94%;
    left: 4%;
    top: 6%;
    right: 0px;
    bottom: 0px;
    width: 96%;
}

#header {
    background: white;
    position: absolute;
    height: 6%;
    left: 4%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 96%;
}

.menu_item {
    width: 100%;
    height: 4%;
    margin-left: 20%;
    margin-bottom: 30%;
}

a.orders {
    background: url(../img/menu.png);
    width: 38px;
    height: 38px;
    position: absolute;
    margin-left:1%;
}

a.orders:hover {
    background: url(../img/menu_1.png);
}

a.create-user {
    background: url(../img/add_user.png);
    width: 38px;
    height: 38px;
    position: absolute;
    margin-left:1%;
}

a.create-user:hover {
    background: url(../img/add_user_1.png);
}

a.settings {
    background: url(../img/settings.png);
    width: 38px;
    height: 38px;
    position: absolute;
    margin-left:1%;
}

a.settings:hover {
    background: url(../img/settings_1.png);
}
.line-header {
    left: 1%;
    top: 0%;
    bottom: 0px;
    width: 98%;
    height: 5%;
    position: relative;
}

.line-box {
    left: 1%;
    top: 5%;
    bottom: 0px;
    width: 98%;
    height: 5%;
    position: relative;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #101823;
    color: white;
}
.table-header{
    background: #e7eaea;
}

.table-line {
    background: #e7eaea;
}

.label-order {
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text-order {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.context-header {
    width: 30%;
    position: absolute;
    left: 1%;
    top: 20%;
    height: 100%;
    list-style: none;
    font-size: 1.6em;
}

.user {
    width: 3%;
    position: absolute;
    right: 0px;
    top: 30%;
    height: 100%;
    list-style: none;
}

a.create {
    background: url(../img/main_create.png);
    width: 64px;
    height: 64px;
    position: absolute;
    margin-left:70%;
}

a.create:hover {
    background: url(../img/main_create_1.png);
}

a.orderDone {
    background: url(../img/done.png);
    width: 32px;
    height: 32px;
    position: absolute;
    margin-top: -25px;
    margin-left: -65px;
}

a.orderDone:hover {
    background: url(../img/done_1.png);
}

a.cancel {
    background: url(../img/cancel.png);
    width: 32px;
    height: 32px;
    position: absolute;
    margin-top: -25px;
    margin-left: -45px;
}

a.cancel:hover {
    background: url(../img/cancel_1.png);
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #555555;
}

.container input:checked ~ .checkmark {
    background-color: #101823;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
