<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Just recording</title>
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="wrapctr">
    <div id="leftmenu">
        <div class="menu_item"></div>
        <div class="menu_item"><a href="/orders" title="Все бронировая" class="orders"> </a></div>
        <div class="menu_item"><a href="/createOrder" title="Создать бронирование" class="create-orders"> </a></div>
        <div class="menu_item"><a href="/createUser" title="Создать пользователя" class="create-user"> </a></div>
        <div class="menu_item"><a href="/settings" title="Настройки" class="settings"> </a></div>
    </div>
    <div id="header"><div class="context-header">Создать бронирование </div><div class="user"><a href="/logout">Выйти</a></div></div>
    <div id="content"></div>
</div>
</body>
</html>
